@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand-gray: var(--brand-gray);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* Colors from: https://bux.osu.edu/color/primary-colors/ */
:root {
  --radius: 0.625rem;
  --brand-gray: #a7b1b7;
  --background: #ffffff;
  --foreground: #212325;
  --card: #ffffff;
  --card-foreground: #212325;
  --popover: #ffffff;
  --popover-foreground: #212325;
  --primary: #ba0c2f;
  --primary-foreground: #ffffff;
  --secondary: #eff1f2;
  --secondary-foreground: #212325;
  --muted: #f6f7f8;
  --muted-foreground: #646a6e;
  --accent: #eff1f2;
  --accent-foreground: #212325;
  --destructive: #ba0c2f;
  --border: #cfd4d8;
  --input: #cfd4d8;
  --ring: #ba0c2f;
  --chart-1: #ba0c2f;
  --chart-2: #70071c;
  --chart-3: #646a6e;
  --chart-4: #a7b1b7;
  --chart-5: #3f4443;
  --sidebar: #f6f7f8;
  --sidebar-foreground: #212325;
  --sidebar-primary: #ba0c2f;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #eff1f2;
  --sidebar-accent-foreground: #212325;
  --sidebar-border: #dfe3e5;
  --sidebar-ring: #ba0c2f;
}

.dark {
  --brand-gray: #a7b1b7;
  --background: #212325;
  --foreground: #f6f7f8;
  --card: #3f4443;
  --card-foreground: #f6f7f8;
  --popover: #3f4443;
  --popover-foreground: #f6f7f8;
  --primary: #ba0c2f;
  --primary-foreground: #ffffff;
  --secondary: #eff1f2;
  --secondary-foreground: #f6f7f8;
  --muted: #3f4443;
  --muted-foreground: #a7b1b7;
  --accent: #3f4443;
  --accent-foreground: #f6f7f8;
  --destructive: #ba0c2f;
  --border: #646a6e;
  --input: #646a6e;
  --ring: #ba0c2f;
  --chart-1: #ba0c2f;
  --chart-2: #a7b1b7;
  --chart-3: #bfc6cb;
  --chart-4: #70071c;
  --chart-5: #868e92;
  --sidebar: #212325;
  --sidebar-foreground: #f6f7f8;
  --sidebar-primary: #ba0c2f;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #3f4443;
  --sidebar-accent-foreground: #f6f7f8;
  --sidebar-border: #646a6e;
  --sidebar-ring: #ba0c2f;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
